/* Global section start */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.primary-btn {
  padding: 20px 40px 20px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background-color: #e55473;
  border: 0;
  border-radius: 8px;
}

.primary-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 18px;
  padding-top: 50px;
}

.primary-pera {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 50%;
  margin: auto;
  padding-bottom: 48px;
}

/* Global section end */

/* header section start */
header {
  background-color: #e554731a;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px 140px 0 140px;
}

/* .header-text {
  width: 80%;
} */

.header-title {
  color: #272727;
  font-size: 55px;
  font-weight: 800;
}

.header-pera {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 32px 0;
}

.header-img {
  width: 50%;
}

/* header section end */

/* main section start */
/* featured products area start */

.featured-container {
  padding: 80px 140px 100px 140px;
}

.featured-products-area {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0 140px 0 140px;
}

.products-img-area1 {
  width: 340px;
  height: 450px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  background-image: url("FlowerAsset/pngwing\ 6.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}
.products-img-area2 {
  width: 340px;
  height: 450px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  background-image: url("FlowerAsset/pngwing\ 5.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}
.products-img-area3 {
  width: 340px;
  height: 450px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  background-image: url("FlowerAsset/pngwing\ 7.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.featured-products-display1 {
  text-align: center;
}
.featured-products-display2 {
  text-align: center;
}
.featured-products-display3 {
  text-align: center;
}

.products-name {
  margin-top: 15px;
}

.products-name a {
  color: #272727;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}

/* featured products area end */

/* delivery section start */
.delivery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 80%;
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
}

.delivery-caption {
  padding: 15px 0;
}
/* delivery section end */

/* hot deal section start */

.hot-deal-area {
  text-align: center;
}

.hot-deal-container {
  height: 620px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 200px;
  /* margin: auto; */
  gap: 85px;
}

.hot-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.hot-title-pink {
  color: #e55473;
}

.hot-pera {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 0 12px 0;
}

/* hot deal section end */

/* best seller section start */

.best-seller-container {
  margin: 100px 0;
}

.best-img1 {
  width: 250px;
  height: 200px;
  background-color: rgba(167, 33, 98, 0.15);
}
.best-img2 {
  width: 250px;
  height: 200px;
  background-color: rgba(167, 33, 98, 0.15);
}
.best-img3 {
  width: 250px;
  height: 200px;
  background-color: rgba(167, 33, 98, 0.15);
}
.best-img4 {
  width: 250px;
  height: 200px;
  background-color: rgba(167, 33, 98, 0.15);
}

.best-seller-display {
  display: flex;
  gap: 25px;
  justify-content: center;
  text-align: center;
}

.best-pera {
  margin: 10px 0;
}

.best-pera a {
  color: #272727;
  line-height: 25px;
  font-weight: 500;
  font-size: 18px;
}

.best-caption {
  font-size: 20px;
  color: #272727;
}

/* best seller section end */

/* Instagram section start */

.insta-display {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.instra-img1 {
  width: 250px;
  height: 296px;
  background-color: #e55473;
}
.instra-img2 {
  width: 250px;
  height: 296px;
  background-color: #e55473;
}
.instra-img3 {
  width: 250px;
  height: 296px;
  background-color: #e55473;
}
.instra-img4 {
  width: 250px;
  height: 296px;
  background-color: #e55473;
}
/* Instagram section end */

/* main section end */

/* footer section start */
/* footer section end */
